<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.80" />
    <link rel="stylesheet" href="/css/blogpost.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <h1>{{ title }}</h1>
      <p>{{ date }}</p>
    </header>

    <main>{{ content }}</main>

      <hr />
      <div class="horizontal-scroll">
      <a href="/">Home</a>
      <a href="/contact.html">Contact</a>
      </div>
  </body>
</html>
