---
layout: layout_index.html
---

<p>I live off abstract concepts like light, minerals and osmosis.</p>

<hr />


{% for post in collections.post %}
  {% if not post.data.isdraft %}
    <div class="post-item">
      <strong>{{ post.data.title }}</strong>: {{ post.data.abstract }}
      <a href="{{ post.url }}" class="arrow-link">&rarr;</a>
    </div>
  {% endif %}
{% endfor %}


<hr />

KayaSem.VanCauwenberghe@Ugent.be

https://github.com/Kaya-Sem


<hr />
<div class="horizontal-scroll">
  {% for post in collections.post %}
    {% if not post.data.isdraft %}
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    {% endif %}
  {% endfor %}
</div>
