---
layout: layout_index.html
---

<p>I live off abstract concepts like light, minerals and osmosis.</p>

<hr />
<div class="horizontal-scroll">
  {% for post in collections.post %}
    {% if not post.data.isdraft %}
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    {% endif %}
  {% endfor %}
</div>
<hr />

{% for post in collections.post %}
  {% if not post.data.isdraft %}
    <h2>{{ post.data.title }}</h2>
    <p>{{ post.data.abstract }}</p>
    <p>{{ post.url}}</p>
  {% endif %}
{% endfor %}

