body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  margin: 20px;
  padding: 0;
}

.post {
  background-color: #ffffff;
  border-radius: 8px;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  padding: 20px;
  margin-bottom: 20px;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.post-date {
  font-size: 14px;
  color: #666;
}

.contact-links {
  margin-top: 10px;
  /*text-align: left; */
}

.contact-links a {
  margin: 0 10px;
  white-space: nowrap;
}

.journal-entry {
  background-color: #f9f9f9;
  border-left: 4px solid #007bff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.journal-title {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}

.journal-content {
  font-size: 16px;
  color: #333;
}
