body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  margin: 20px;
  padding: 0;
}

.container {
  max-width: 800px; /* Set the desired max-width */
  margin: 0 auto; /* Center the container */
  padding: 0 20px; /* Add some padding for better spacing */
}

.post {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.post-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.post-date {
  font-size: 14px;
  color: #666;
}

.contact-links {
  margin-top: 10px;
}

.contact-links a {
  margin: 0 10px;
  white-space: nowrap;
}

.journal-entry {
  background-color: #f9f9f9;
  border-left: 4px solid #007bff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.journal-title {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.journal-content {
  font-size: 20px;
  color: #333;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the nav items */
}

.nav-list li {
  margin: 0 20px;
}

.nav-list li a {
  text-decoration: none;
  color: blue;
}
