.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
}

.nav-list li {
  margin: 0 10px;
}

.nav-list li a {
  text-decoration: none;
  color: blue;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.horizontal-scroll a {
  display: inline-block;
  margin-right: 20px;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
}

.post-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-item strong {
  margin-right: 5px;
}

.post-item .arrow-link {
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
  font-size: 1.5em; /* Adjust size as needed */
}

