---
layout: layout_index.html
---

<p>I live off abstract concepts like light, minerals and osmosis.</p>

<hr />

{% for post in collections.post %}
  {% if not post.data.isdraft %}
    <div class="post-item">
      <div class="post-title">
        <strong>{{ post.data.title }}</strong>
        <a href="{{ post.url }}" class="arrow-link">&rarr;</a>
      </div>
    </div>

    <div class="post-content">
        {{ post.data.abstract }}
    </div>
  {% endif %}
{% endfor %}

<hr />
<a href=https://github.com/Kaya-Sem>Github</a>

<a href=KayaSem.VanCauwenberghe@Ugent.be>e-mail</a>
<hr />

<div class="horizontal-scroll">
  {% for post in collections.post %}
    {% if not post.data.isdraft %}
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    {% endif %}
  {% endfor %}
</div>
